@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * https://opensource.org/licenses/MIT
 */

 body {
 	padding-top: 60px;
 }
 #dropzone {
 	background: #f5f5f5;
 	width: 100%;
 	height: 90px;
 	line-height: 50px;
 	text-align: center;
 	font-weight: bold;
 }
 #dropzone.in {
 	width: 600px;
 	height: 200px;
 	line-height: 200px;
 	font-size: larger;
 }
 #dropzone.hover {
 	background: lawngreen;
 }
 #dropzone.fade {
 	-webkit-transition: all 0.3s ease-out;
 	-moz-transition: all 0.3s ease-out;
 	-ms-transition: all 0.3s ease-out;
 	-o-transition: all 0.3s ease-out;
 	transition: all 0.3s ease-out;
 	opacity: 1;
 }
 .cboxdel{
 	width: 30px !important;
 	height: 30px !important;
 	margin-bottom: -9px !important;
 }
 .cboxdel:after{
 	top: 3px !important;
 	left: 2px !important;
 }
 .cboxdellist{
 margin-bottom: -12px !important;
}